* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: aliceblue;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    background: #2b2b2b;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 10;
}

header h1 {
    color: #f0f8ff;
}

header ul {
    display: flex;
}

header li {
    margin: 0 1.5rem;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #f0f8ff;
}

.container {
    width: 100vw;
    height: 550px;
    transform: rotate(180deg);
    background-image: url('./wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo {
    height: 200vh;
    padding: 0 5rem;
}