* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: aliceblue;
}

header {
    display: flex;
    position: fixed;
    width: 100vw;
    background: #2b2b2b;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    z-index: 10;
}

header h1 {
    color: #f0f8ff;
}

header ul {
    display: flex;
}

header li {
    margin: 0 1.5rem;
    list-style: none;
}

header li a {
    text-decoration: none;
    color: #f0f8ff;
}

.container {
    position: absolute;
    z-index: -10;
    width: 100vw;
    height: 510px;
    transform: rotate(180deg);
    background-image: url('./wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.conteudo {
    height: 200vh;
    padding: 15rem 5rem;
}

.conteudo p:nth-child(1) {
    width: max(50%);
}

.container-closing {
    width: 100vw;
    height: 400px;
    background-image: url('./wave.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container-closing {
    position: relative;
}
.container-closing footer{
    position: absolute;
    bottom: 6rem;
    left: 10rem;
    font-size: .1.2rem;
    z-index: 50;
    color: #dadada;
}

button {
    border: none;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: #2b2b2b;
    color: #dadada;
    margin: 2rem 0;
    font-size: 1.2rem;
}
button:hover {
    filter: brightness(1.5);
}